* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #d6a944;
    padding: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-size: 2rem;
    color: #000;
}

.icons {
    display: flex;
    gap: 15px;
}

.search-bar {
    margin: 20px 0;
    display: flex;
    justify-content: center;
}

.search-bar input {
    padding: 10px;
    width: 80%;
    border-radius: 25px;
    border: none;
}

.category {
    margin: 20px 0;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #e8f5e9;
    background-color: #99d18d;
    padding: 5px 10px;
    border-radius: 10px;
    width: fit-content;
}

.items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.item {
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}

.item img {
    width: 50px;
    height: 50px;
}

.item p {
    margin-top: 10px;
    font-size: 0.9rem;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #f9fbe7;
    padding: 15px 0;
    display: flex;
    justify-content: center;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 40px;
}

nav ul li {
    font-size: 1.5rem;
    color: #616161;
}